

.Filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.Filter select {
    padding: 0.5rem 0.2rem;
    border-radius: 2rem;
    outline: none;
    border: 1px solid gray;
}



.filter button {
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    outline: none;
    border: 1px solid #1c7ed6;
    background-color: #1cd6a4;
    color: white;
    letter-spacing: 0.1rem;
    font-style: inherit;
    cursor: pointer;
}