.itemList {
    width: 70rem;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 3rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}